.Sneakers {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 5px solid gray;
  width: 300px;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Title {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 5px solid gray;
}





























































